body{
background-size:cover;
}
.heading
{
font-size: 47px;
width: 50%;
margin-top: 10px;    
background-color:cadetblue;
box-shadow:5px 5px 7px darkorchid;
}

#status
{
color:azure;
font-size: 23px;
background-color:crimson;
box-shadow:5px 5px 7px coral;
width:15%;
border-radius: 5px;
}

canvas{
margin-top: 57px;
border-radius:5px;
box-shadow:5px 5px 7px grey;
}

#noofobjects{
background-color:lightcoral;
}
